<!DOCTYPE html>
<html>
  <% include layout/header.ejs %>
  <body>
  <% include layout/nav.ejs %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form method="post" action="/login">
	    <div>
	    	<label for="username">username</label>
	    	<input id="username" type="text" name="username" />
	    </div>
		<div>
			<label for="password">password</label>
	    	<input id="password" type="text" name="password" />
	    </div>
		<div>
	    	<input id="submit" type="submit" value="login" />
	    </div>
    </form>


  <% include layout/footer.ejs %>
  </body>
</html>
